.about-title h1 {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: #241400;
  font-weight: 900;
  font-size: 36px;
}
.about-desc {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: #241400;
  font-weight: 400;
  font-size: 18px;
  line-height: 196.19%;
}
.buton {
  background: #e16a00;
  box-shadow: 0px 3px 8px rgba(225, 106, 0, 0.19);
  border-radius: 3px;
  color: white;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 196.19%;
  border: none;
}

.year {
  color: white;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
  line-height: 196.19%;
  background: #2f80ed;
  box-shadow: 0px 3px 8px rgba(225, 106, 0, 0.19);
  border-radius: 3px;
}
.about-title span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 196.19%;
}

.about-title h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 196.19%;
}

.comment {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  border: none;
}

.sendComment {
  background: #e16a00;
  border-radius: 5px;
  border: none;
}

.comments {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.anonim p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.anonim span {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.express p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
